<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Allow streaming responses and pass through Next.js custom error pages -->
    <httpErrors existingResponse="PassThrough" />
    
    <!-- Security: Support file/proof uploads up to 50MB -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>

    <!-- Reverse Proxy Rule: Route all traffic to Next.js on port 3000 -->
    <rewrite>
      <rules>
        <rule name="ReverseProxyToNextJs" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_X_FORWARDED_PROTO" value="https" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>

    <!-- IIS Performance & Compression passthrough -->
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
  </system.webServer>
</configuration>
